css file
.css-selector {
  font-family: 'Raleway', sans-serif;
  font-family: 'Poiret One', cursive;
  font-family: 'Fredoka One', cursive;
  font-family: 'Yantramanav', sans-serif;
  font-family: 'Biryani', sans-serif;
  font-family: 'Sumana', serif;
}


.page{
    position: absolute;
    top: 0px;
    left: auto;
    right: auto;
}


.company{
    position:absolute;
    width:100%;
    text-align:center;
    font-family: 'Fredoka One', cursive;
    font-size: 9px;
    top:19px;
	left:-207px;
	color:white;

}

.title{
    position:absolute;
    width:100%;
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 168px;
    top:-160px;
	left:auto;
	right:auto;
	color:yellow;

}

.date{
    position:absolute;
    width:100%;
    text-align:center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 11px;
    top:164px;
	left:230px;
	color:white;

}

.cont1{
    position:absolute;
    width:100%;
    text-align:center;
    font-family: 'Sumana', serif;
    font-size: 17px;
    top:283px;
	left:226px;
	color:white;

}

.cont2{
    position:absolute;
    width:100%;
    text-align:center;
    font-family: 'Sumana', serif;
    font-size: 17px;
    top:300px;
	left:199px;
	color:white;

}

.cont3{
    position:absolute;
    width:100%;
    text-align:center;
    font-family: 'Sumana:400;', serif;
    font-size: 17px;
    top:336px;
	left:185px;
	color:white;

}

#rectangle{
    width:117px;
    height:2px;
    background:yellow;
}
.line{
    position:absolute;
    top:387px;
	left:411px;

}


.cont4{
    position:absolute;
    width:100%;
    text-align:center;
    font-family: 'Sumana', serif;
    font-size: 50px;
    top:300px;
	left:202px;
	color:white;

}


.cont5{
    position:absolute;
    width:100%;
    text-align:center;
    font-family: 'Sumana:400;', serif;
    font-size: 17px;
    top:440px;
	left:206px;
	color:white;

}

.cont6{
    position:absolute;
    width:100%;
    text-align:center;
    font-family: 'Sumana:400;', serif;
    font-size: 17px;
    top:457px;
	left:219px;
	color:white;

}
